body {background-color:black;font-family: arial;color: white}
h1{color:grey;font-family:verdana; margin-left: 10px; }
footer{margin-left: 10px;
    margin-top: 10px}
.maindiv{
    background-color: white; color:black; width: 500px;padding: 30px;
    border-radius: 25px; 
} 
.inputfields{
    margin-top: 10px;
    margin-left: 60px;
}
#principal{
    margin-left: 55px;
    margin-top: 10px;
}
#rate{
    margin-left: 20px;
    margin-top: 10px;

}
#years{
    margin-left: 25px;
    margin-top: 10px;
}
button{
margin-left: 60px;
margin-top: 10px
}

p{
    margin-top: 10px;
    margin-left: 60px
}